<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Article Form</title>
</head>
<body>
    <h3>Article Form</h3>
    <form th:action="@{/processArticleForm}" th:object="${article}" th:method="POST">
        <input type="hidden" th:field="*{id}"/>

        Title: <input type="text" th:field="*{title}"/>

        <br></br>

        Content: <input type="text" th:field="*{content}"/>

        <br></br>

        <input type="submit" value="Publish"/>
    </form>

    <br></br>

    <a th:href="@{/admin}">Back to admin page</a>

</body>
</html>