<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Article Form</title>
    <style>
        .error{
            color: red;
        }
    </style>
</head>
<body>
    <h3 th:text="${article.dateOfPublication} != null ? 'Update Article' : 'New Article' "/>

    <form th:action="@{/admin/processArticleForm}" th:object="${article}" th:method="POST">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{dateOfPublication}"/>

        Title (*): <input type="text" th:field="*{title}"/>

        <span th:if="${#fields.hasErrors('title')}"
              th:errors="*{title}"
              class="error"></span>

        <br></br>

        Content: <input type="text" th:field="*{content}"/>

        <br></br>

        <input type="submit" th:value="${article.dateOfPublication} != null ? 'Update Article' : 'New Article' "/>

    </form>

    <br></br>

    <a th:href="@{/admin}">Back to admin page</a>

</body>
</html>